<footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {% comment %}
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endcomment %}


  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Payment Methods"
      },
      {
        "type": "checkbox",
        "id": "footer_payment_methods",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "id": "footer_color_bg",
        "label": "Background",
        "default": "#f5f5f5"
      },
      {
        "type": "color",
        "id": "footer_color_text",
        "label": "Text",
        "default": "#3d4246"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Quick links",
        "type": "menu",
        "settings": [
          {
            "type": "text",
            "id": "menu_heading",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu_link_list",
            "label": "Menu",
            "default": "main-menu"
          }
        ]
      },
      {
        "name": "Talk about your business",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "text_heading",
            "label": "Heading",
            "default": "Talk about your business"
          },
          {
            "type": "richtext",
            "id": "text_richtext",
            "label": "Text",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          }
        ]
      },
      {
        "name": "Newsletter signup",
        "type": "newsletter_signup",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "newsletter_signup_heading",
            "label": "Heading",
            "default": "Newsletter"
          }
        ]
      }
    ]
  }

{% endschema %}


