<footer class="site-footer__container">
  THIS IS A TEST
  <div class="site-footer">

  </div>

  {% comment %} {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {% comment %}
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endcomment %}
  <hr class="site-footer__hr" />

  <div class="site-footer__footer">
    <small>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} {{ powered_by_link }}</small>
  </div>
</footer>



{% schema %}
    {
        "name": "Featured products",
        "presets": [
            {
                "category": "Homepage",
                "name": "Featured products"
            }
        ],

        "settings": [
            {
                "id": "bottomLabel",
                "type": "text",
                "label": "Bottom link label"
            },

            {
                "id": "bottomUrl",
                "type": "url",
                "label": "Bottom link to"
            }
        ],

        "blocks": [
            {
                "type": "products",
                "name": "Products",
                "settings": [
                    {
                        "id": "product",
                        "type": "product",
                        "label": "Select product"
                    },

                    {
                        "id": "productsDescription",
                        "type": "richtext",
                        "label": "Product description override"
                    },

                    {
                        "id": "productsImage",
                        "type": "image_picker",
                        "label": "Product image override"
                    },

                    {
                        "id": "productLabel",
                        "type": "text",
                        "label": "Product label"
                    },

                    {
                        "id": "productsImageHover",
                        "type": "image_picker",
                        "label": "Product image override hover"
                    }
                ]
            }
        ]
    }
{% endschema %}
