{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section class="header__outer-container" data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="header__announcement" style="background-color: {{ section.settings.color_announcement_bg }}; ">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a class="header__announcement__content" id="announcement-link" href="{{ section.settings.announcement_bar_link }}" style="color: {{ section.settings.color_announcement_text }}; " >
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p class="header__announcement__content" style="color: {{ section.settings.color_announcement_text }}; ">{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header class="header-main" role="banner">
    <div class="header-main__inner-container">
      <div class="header-main__name" >
        <h1>
          <a href="/" class="header-main__logo logo-image">
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}">
            {% else %}
              {{ shop.name | upcase }}
            {% endif %}
          </a>
        </h1>
      </div>

      <nav class="header-main__site-nav--desktop" role="navigation">
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              {% if link.child_active %}
                <li class="link--active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ link.url }}">
                    <span>
                      {{ link.title }}
                    </span>
                    {% include 'icon-arrow-down' %}
                  </a>
                  <ul>
                    {% for childlink in link.links %}
                      {% if childlink.active %}
                        <li class="link--active">
                      {% else %}
                        <li>
                      {% endif %}
                        <a href="{{ childlink.url }}">
                          <span>
                            {{ childlink.title }}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
              </li>
            {% else %}
              {% if link.active %}
                <li class="link--active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ link.url }}">
                    <span>
                      {{ link.title }}
                    </span>
                  </a>
                </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <div class="header-main__button-group" >
          <a>
            {% include 'icon-search', icon_class: "icon-header" %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </a>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a class="header-main__button-group__customer" title="account" href="/account" alt="">{%- include 'icon-account', icon_class: "icon-header" -%}</a>
            {% else %}
              {% capture icon_person %}
                {% include 'icon-account', icon_class: "icon-header" %}
              {% endcapture %}
              {{ icon_person | customer_login_link }}
            {% endif %}
          {% endif %}

          <a class="header-main__button-group__cart" href="/cart">
            {% include 'icon-shopping-bag', icon_class: "icon-header" %}
            <span class="icon-fallback-text">{{ 'cart.general.title' | t }}</span>
            {% if cart.item_count != 0 %}
              <div class="header-main__button-group__cart__count" >
                <div>
                  {{ cart.item_count }}
                </div>
              </div>
            {% endif %}
          </a>
      </div>
      <div class="header-main__site-nav--mobile-access">
        <a>
          {% include 'icon-hamburger', icon_class: "icon-header" %}
        </a>
      </div>
    </div>
    <nav class="header-main__site-nav--mobile">
      <ul>
        {% for link in linklists[settings.menu].links %}
          <li>
            <a href="{{ link.url }}">
              <span>{{ link.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_announcement_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_announcement_text",
        "label": "Text",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
