{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<div class="section section-image-w-overlay section-height--{{ section.settings.section_height }}">
  {% if section.settings.image == blank %}
    <div class="image-w-overlay__background placeholder-background">
      {% include 'fallback-img' %}
    </div>
  {% else %}
    <div class="image-w-overlay__background has-background align-background--{{- section.settings.image_alignment -}} ">

    </div>
  {% endif %}
  <div class="image-w-overlay__background opaque-background">
  </div>
  <div class="image-w-overlay__wrapper">
    <div class="image-w-overlay__content page-width">
      <h1 class="image-w-overlay__hero image-w-overlay__hero--{{ section.settings.text_size }}">
        {{ section.settings.title }}
      </h1>
      <div class="image-w-overlay__subtitle image-w-overlay__subtitle--{{ section.settings.text_size }}">
        {{ section.settings.text }}
      </div>
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="button image-w-overlay__link">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .image-w-overlay__background.has-background {
    background-image: url({{ section.settings.image | img_url: '1200x800' }});
  }

  .image-w-overlay__link:hover {
    background-color: {{ settings.color_buttons_primary | color_darken: 10 }};
    color: white;
  }
</style>

{% schema %}
  {
    "name": "Image with text overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_alignment",
        "label": "Image alignment",
        "default": "top",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "options": [
          {
            "value": "extra_small",
            "label": "Extra small"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "extra_large",
            "label": "Extra large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text Size",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image"
      }
    ]
  }
{% endschema %}